@model Appplication_Bartender.Models.Customer

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Thank you, @Model.FirstName!</h1>

<p>Thank you for your order. Your drink is being made.</p>

